:root {
  --primary: #ff26a5;
  --primaryHover: #ff26a55d;
  --dark: #333;
  --light: #fafafa;
  --font2: {
    font-family: 'Open Sans', sans-serif;
  }
  --font1: {
    font-family: 'Raleway', sans-serif;
  }
}

body {
  background-color: #fafafa !important;
}

.hero {
  background-image: url('../assets/bg-1.jpg');
  background-size: cover;
  height: 33vh;
}

.heroTitle {
  color: white;
  font-family: var(--font1);
  font-size: 72px;
  /* margin: 50px; */
}

.btn-primary {
  background-color: transparent;
  border: 2px solid white;
  padding: 15px;
  border-radius: 25px;
  font-family: var(--font2) !important;
  font-size: larger;
}

.btn-primary:hover {
  background-color: var(--primary);
  border: 2px solid var(--primary);
}

.btn-primary::selection {
  background-color: var(--primary);
  border: 2px solid var(--primary);
}

.btn-secondary {
  background-color: var(--primary);
  border: 2px solid var(--primary);
  margin: 10px;
  padding: 7px 15px 7px 15px;
  border-radius: 5px;
  text-align: center;
  font-family: var(--font2) !important;
}

.btn-secondary:hover {
  background-color: transparent;
  border: 2px solid var(--primary);
  color: var(--dark);
}

svg {
  margin-left: 10px;
}

.eventCard {
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  background-color: white;
  margin: 5px;
}

.eventRow {
  padding: 20px;
}

.eventTitleDiv {
  padding: 5vh;
}

.title {
  font-size: xx-large;
}

.conditionalBtnLink {
  font-size: small !important;
}

.eventPage {
  background-color: whitesmoke;
}

.labelText {
  font-size: medium;
  margin: 5px;
}

.form-group {
  margin: 15px;
  text-align: left;
}

.boxShadow {
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  padding: 15px;
  margin: 20px;
  border-radius: 10px;
  background-color: white;
}

.customBtn {
  padding: 0px 20px 0px 20px;
  background-color: var(--primary);
  border: none;
  border-radius: 5px;
  color: white;
}

.customBtn:hover {
  background-color: var(--primaryHover);
}

textarea {
  resize: none;
  height: 100px;
}

.loginForm {
  width: 400px;
  padding: 40px;
}

/* Product Page */

.productHeader {
  border-bottom: 1px solid rgba(0, 0, 0, 0.20);
  padding: 25px;
}

.productCard {
  width: 25rem;
}

.priceColumn {
  border-right: 2px solid rgba(0, 0, 0, 0.185);
  margin: 10px;
  padding: 15px;
  text-align: center;
  height: 45vh;
}

.productTitle {
  text-decoration: none;
}

.price {
  font-size: 48px;
  top: 30%;
}

.text-muted {
  font-size: small;
}

.addToCartBtn {
  bottom: 0%;
}