.chatName {
    font-size: small;
}

.chatMessage {
    font-size: smaller;
    text-align: right;
}

.chatTime {
    font-size: 12px;
}

.chatDiv {
    border-radius: 10px;
    padding: 5px;
    margin: 5px;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
}

.messageContainer {
    margin-top: 20px;
}

.message {
    padding: 10px 15px 10px 15px;
    border-radius: 20px;
    max-width: 300px;
    background-color: #1877f2;
    color: white;
}

.messageTop {
    margin-bottom: 3px;
}

.messageBottom {
    margin-top: 3px;
    color: gray;
}

.message.own {
    background-color: #333;
}

.chatInput {
    margin-top: 10px;
}